# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

docker-volumes
*.tar.gz
*.war
image/coverage.html
image/integration-app
image/__pycache__
test_output.log
XCONVERT.LST
XCONVERT.MSG
.dev_up_active